<div class="row mar-bot-20">
  <div class="col-md-6">
    <div class="portrait">
      <img src="../images/PhilCuster_headshot.jpg">
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h1>Software Engineer</h1>
      </div>
    </div>
    <div class="row">
      Whether by mistake or on purpose you have found my homepage. I am currently a <span ng-bind="age"></span> year old software engineer. My interests include computers, cars, and games (digital or pen & paper). I have lived in Pittsburgh, Pennsylvania my whole life, however I have traveled a little bit. I am dedicated to using my talents to make the world a better place by doing work that I enjoy.
    </div>
  </div>
</div>
